@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
:root {
    --title-color: white;
    --main-text-color: #dddddd;
    --info-color: #aaaaaa;
    --primary-color: #47cfac;
    --secondary-color: #22272d;
    --accent-color: #004297;
    --background-color: #08002c; 
}
body {
    font-family: 'Roboto Mono', monospace;
    margin: 2;
    padding: 2;
    background-color: var(--background-color);
    color: var(--main-text-color);
}
body h1 {
    color: var(--title--color);
    margin-left: 7%;

}
/* body p {
    color: var(--info-color);
    margin-left: 8%;
    margin-right: 7%;
} */

a {
    text-decoration: none;
    display: inline;
    color: var(--primary-color);
}
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.grid-container {
    max-width: 980px;
    margin: auto;
}


header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #003079;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span {
    color: white;
}
nav  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container {
    margin-left: 50px;
    color: var(--title--color);
}
/* nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
    
} */
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
    /* border: 2px solid white; */
    /* box-shadow: 0 0 0 2px white; */
    border-radius: 8px;
    background-color: #003079; /* Fondo semitransparente */
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    color:var(--primary-color);
    border-bottom: 1px solid black;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    position: relative; /* needed for the pseudo-element background */
    overflow: hidden; /* ensure blurred edges don't overflow */
}
.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
    position: relative; /* place content above the blurred background */
    z-index: 1;
}

/* place the background image in a pseudo-element so we can blur it */
.home-main::before {
    content: "";
    position: absolute;
    inset: 0; /* top/right/bottom/left: 0 */
    background-image: url('../assets/img/fondo-index-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7px);
    transform: scale(1.03); /* slightly scale to avoid visible edges after blur */
    z-index: 0;
}
.home-main-text {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: black;
    text-align: center;
    color: white;
    text-shadow:  2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000;
}
.home-main-button {
    width: 110px;
    height: 50px;
    background: #48cfad;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
}

.blogs-main {
    display: grid;
}
.blog-img-container {
    max-width: 500px; /* match .grid-container width */
    margin: 0 auto;   /* center the container */
    padding: 0 50px;  /* match site horizontal padding */
}
.blog-img-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.blogs-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}
.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    width: 85%;
}
.blogs-news-info-container {
    grid-column: 2;
}
.blogs-news-info-container p {
    margin-bottom: 35px;
}
/* .blogs-posts-container {
    padding: 0 50px 40px;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;  
    padding-bottom: 20px;
    text-align: center;
} */

.blogs-button {
   border:  1px solid #48cfad;
   padding: 10px 15px;
   font-size: 12px;
}

.blogs-posts-container .post-container {
   display: inline-block;
   padding-left:  10px;
   max-width: 30%;
   margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
   margin-bottom:  35px;
}

.blogs-posts-container .post-container img {
   width: 100%;
}

footer {
   width: 100%;
   height: 80px;
   background-color: #22272d;
   border-top: 35px solid #003079;
   text-align: center;
}

footer  p {
   color: white;
   margin-top: 30px;
}


